.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b7c9ed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.background {
  width: 100%;
  float: left;
  background-image: url(https://img.freepik.com/free-photo/front-view-cyber-monday-shopping-cart-with-bags-copy-space_23-2148657638.jpg);
  height: 80vh;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.mensbackground{
  background-image: url(https://previews.123rf.com/images/stillab/stillab1709/stillab170900012/86097401-flat-lay-men-s-fashion-casual-outfits-and-accessories-on-white-wooden-background.jpg);
  height: 80vh;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.womenswear{
  background-image: url(https://img.freepik.com/free-photo/pretty-young-stylish-sexy-woman-pink-luxury-dress-summer-fashion-trend-chic-style-sunglasses-blue-studio-background-shopping-holding-paper-bags-talking-mobile-phone-shopaholic_285396-2957.jpg);
  height: 80vh;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.text{
  font-size: 50px;
}

.Ultimate {
  display: none;
}

.custom_menu {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #383737;
  left: 8%;
  clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
}


.custom_menu ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.custom_menu li {
  float: left;
  font-size: 16px;
  color: #f1f1f1;
  padding: 6px 10px 0px 10px;
  text-decoration: none;
  list-style-type: none;

}
#search{
  width: 100%;
}
.divv {
  width: 27%;
}

.custom_menu li a {
  color: #f1f1f1;
  text-decoration: none;
}

.custom_menu li a:hover {
  color: rgb(220, 18, 18);
}

.cart{
  color: white;
  text-decoration: none;
}
.sear{
  width: 50%;
}


.abs {
  position: absolute;
  top: 28%;
}

.cart-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.title {
  position: absolute;
  top: 22%;
}
.newnav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
}


.buy {
  position: absolute;
  top: 75%;
  font-size: 17px;
  font-weight: bold;
}

.carousel-indicators{
  width: 70%;
  height: 10%;
}

.dd {
  cursor: pointer;
}

.hidden-text {
  display: none;
}

.hidden-text.show {
  display: inline;
}

.search {
  border: none;
  outline: 5px rgb(254, 190, 90);
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  background-color: rgb(221, 90, 8);
  color: white;
}

.ddd {
  height: 400px;

}

.menu {
  border: none;
  background: none;
  color: white;
  margin-top: -17px;
}
.sidenav {
  width: 20%;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(33, 37, 41);
  color: white;
  text-align: center;
  animation-duration: 2s;
  display: none;
}
/* .menu:focus-within .sidenav{
  display: block;
}
.cancel:focus-within .sidenav{
  display: none;
} */


.searchinp {
  padding: 6px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.sect {
  box-shadow: 50px 50px 0 0 #f1f1f1;
}

.footer {
  background-color: #2d2a2a;
  padding: 30px 0;
  color: #f1f1f1;
}

.footer-title {
  color: #eae5e5;
}

.footer-links li,
.footer-social-links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-links a,
.footer-social-links a {
  color: #f7f6f6;
  text-decoration: none;
}

.footer-links a:hover,
.footer-social-links a:hover {
  color: #f2efef;
}
.modalimg{
  width: 40%;
  height: 50%;
}


.cart{
  position: relative;
}
.cartitems{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: -10px;
}


.cancel {
  position: absolute;
  right: 0;
  top: 0;
  color: ghostwhite;
}

.cancel:hover {
  color: white;
}
.coct{
  display: flex;
  justify-content: space-evenly;
}
.input{
  border: 2px inset rgb(164, 161, 161);
  background-color: #f1f1f1;
  color: rgb(89, 84, 84);
}
.inp{
  background: none;
  outline: none;
  color: white;
}
.inp::placeholder{
  color: rgb(89, 84, 84);
}




.size-label {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.inset-shadow {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.size-label:hover {
  background-color: #eee;
}

.size-input:checked + .size-label {
  background-color: #4b4242;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.addmore{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background-color: rgb(33, 37, 41);  
}
@media (max-width: 920px) {
  .footer {
      text-align: center;
  }

  .footer-title {
      margin-bottom: 20px;
  }

  .footer-links,
  .footer-social-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .footer-links li,
  .footer-social-links li {
      margin-right: 15px;
  }
  .background{
    width: 100%;
    float: left;
    /* background-image: url(https://img.freepik.com/free-photo/flat-lay-black-friday-tags-with-shopping-cart_23-2148285102.jpg?size=626&ext=jpg&ga=GA1.1.1567510239.1685567548&semt=ais); */
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #account{
  visibility: hidden;
  }
  #help{
    visibility: hidden;
  }
  .cart{
    visibility: hidden;
  }
  .newnav{
    padding: 10px;
  }
  .menu{
  visibility: hidden;
  }

  .logo{
    position: absolute;
    left: 2%;
    top: 15%;
  }
  .sear{
    width: 50%;
    position: absolute;
    top: 10%;
  }
  #search{
  width: 150px;
  left: 30%;
  }
  .searchbtn{
   visibility: hidden;
  }
}
@media (max-width: 800px) {
  .custom_menu{
   visibility: hidden;
  }
  .account{
    display: none;
  }
  .help{
    display: none;
  }
  .newnav{
    position: fixed;
    top: 0;
    background-color: rgb(255, 157, 34);
    width: 100% ;
  }

}

